
.page-container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.page-header {
	height: 45px;
	flex-shrink: 0;
}

.page-content {
	flex-grow: 1;
	display: flex;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	overflow: hidden;

}

.page-footer {
	height: 50px;
	flex-shrink: 0;
}

.page-content_left {
	width: 100px;
	flex-shrink: 0;
	overflow: auto;
}

.page-content_right {
	flex-grow: 1;
	border-left: 1px solid #E0E0E0;
	background-color: #eee;
	overflow: auto;
}

ul.list-main {
	display: flex;
	flex-direction: column;
}

ul.list-main li {
	padding: 13px 0;
	font-size: 13px;
	color: #666666;
	text-align: center;
}

ul.list-main span {
	padding: 2px 10px;
	border-radius: 10px;
}

ul.list-main li.active span{
	background-color: #b85c00;
	color: #EEEEEE;
}

p.empty,
ul.list-sub {
	display: none;
}

p.empty.show,
ul.list-sub.show {
	display: block;
}
img.avatar{
	width: 262px;
	height: 132px;
	margin: 5px;
	border-radius: 10px;
}


div.page-content_right-box{
	background-color: #fff;
	border-radius: 10px;
	margin: 5px;
	
}
div.title{height: 30px;padding: 5px 0 0 10px;line-height: 30px;}
ul.list-sub{
	text-align: center;
	padding: 10px 0;
}
ul.list-sub>li{
	float: left;
	width: 80px;
	margin-left: 6px;
}
ul.list-sub>li img{
	width: 76px;
	height: 76px;
}
ul.list-sub>li a{color: #666;font-size: 11px;}